<%- include('partials/header') %>

<% if(compose === true) { %>
    <li id="compose"><a href="../compose">COMPOSE :></a></li>
<% } %>

<h1>Home</h1>
<p>Hey, welcome to my blog!</p>
<p>This website was created as a small project for my portfolio</p>


    <% for (let item = 0; item < posts.length; item++) { %>

    <% } %>

    <% posts.forEach(function (post) { %>
        <h1> <%= post.title %> </h1>
        <p> <%= post.about %> </p>

        <a href="/posts/<%=post._id%>">Read more...</a>
    <% })%>

<%- include('partials/footer') %>